input[type=button].cgridbtn {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    height: 20px !important;
    width: 20px !important;
    margin-left: 16px !important;
    margin-top: 4px !important
}
.icon-grid_favorites {
    background-image: url("../img/sprite.png");
    background-position: -288px -334px;
}
.icon-grid-private {
    background-image: url("../img/sprite.png");
    background-position: -255px -334px;
}
.icon-grid-delete {
    background-image: url("../img/sprite.png");
    background-position: -271px -330px;
    height: 20px;
    width: 20px;
}
.link-disabled{
    color: #999;
    cursor: not-allowed !important;    
}

/*.starred{
    background-image: url("../img/sprite.png") !important;
    background-position: -478px -196px !important;  
}*/

div#contactWindowDiv
{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fafafa;
    border: 1px solid #b0b0b0;
    /*box-shadow: 0px 0px 15px #333;*/
    z-index: 60;
    box-sizing: border-box;
}
div#contactWindow_H
{
    height: 58px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #b0b0b0;
    box-sizing: border-box;
}
div#contactWindow_H > div:first-child
{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
    padding-left: 35px;
    box-sizing: border-box;
}
div#contactWindow_H > div:last-child, div#contactWindow_H > div:nth-child(2)
{
    display: table-cell;
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
div#contactWindow_C
{
    /*padding: 24px;*/
}

/*----------------------------------------------------------------------------------------------*/
div#LoadingOverlayDiv
{
    z-index: 80;
}

div#AboutDiv
{
    display: none;
}

.contact-form {
    margin: 0px 30px;
    height: 90%;

    .field-name {
        float: left;
        width: 10%;
        color: black;
        text-align: left;
        font-size: 12px;
        font-weight: normal;
        height: inherit;

        span, select{
            display: table-cell;
            vertical-align: middle;
            height: inherit;
        }
    }
    

    label {
        color: #1e90ff;
        font-size: 14px;
        font-weight: 500;
    }

    h3 {
        color: #2b669a;
    }   

}

.left-column {
    float:left;
    width:12%;
}
.right-column {
    float: left;
    width: 88%;
    padding-left: 35px;
}
.form-content {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    .contact-info-block{
        margin-bottom:20px;
    }

    .datepicker-menu{
        display:inline-flex;

        .datepicker-button{        
            margin-left: -22px;
        }
    }
    input[type=text] {                
        height: 30px;
        width: 75%;
        padding-left: 10px;
        float: left;
        font-size: 12px;
        color: #2f2f2f;
        border: 1px solid #aeaeae;
    }

    input[type=tel] {                
        height: 30px;
        min-width: 197px;   
        float: left;          
        font-size: 12px;
        color: #2f2f2f;
        border: 1px solid #aeaeae;
    }
    textarea{
        background: transparent none repeat scroll 0 0;
        border: 1px solid #aeaeae;
        float: left;
        padding: 7px;
        width: 75%;
    }
    .intl-tel-input{
        float: left;
    }
    input[type=email] {                
        height: 30px;
        width: 75%;
        padding-left: 10px;
        float: left;
        font-size: 12px;
        color: #2f2f2f;
        border: 1px solid #aeaeae;
    }
    input:focus{
        border: 1px solid #000000;
        color: #2f2f2f;
    }
    input[type=radio]{
        margin: 7px 0 0 10px;
        line-height: 30px;
        display: table-cell;
        vertical-align: middle;
        float: left;
    }
    .primary{
        line-height: 28px;
        padding-left: 5px;
    }
    select {
        height: 30px;
        margin-left: -3px;
        font-size: 12px;
        color: #2f2f2f;
        border: 0px solid #aeaeae;

    }

    .field-block{
        height: 24px;
        margin-top:8px;
        .field-name{
            *{
                border:0;
            }
        }
       
        .field-value{            
            width:90%;
            select {
                width: 100px;
                height: 24px;
                padding-left: 10px;
                font-size: 12px;
                color: #2f2f2f;
                border: 1px solid #aeaeae;
            }

            .primary{
                font-size:12px;
                color: #1e90ff;
            }

            select:focus{
                border: 1px solid #000000;
                color: #2f2f2f;
            }
            

        }

    }    
}

.buttons-div {
    text-align: right;  
    background-color: #fafafa;  
    border: 1px solid #dbd6ea;  
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    clear: both;
    .btn{
        padding: 3px 12px;
    }
}    

.heading{
    color: #5d6479;
    font-size: 24px;
}
#mainDiv {
    overflow: auto !important;
}
.event-date {
    width: 300px;

}

.calender-btn {
    padding: 0 !important;
    height: 24px !important;    
    background: url(../img/calendar_normal.png) 19px;  
    border: 0px;
    width: 20px;
    span{
        display:none;
    }
}

.calender-btn:hover{
    background: url(../img/calendar_active.png) 19px;
}

.icon-grid-edit {
    background-image: url("../img/sprite.png");
    background-position: -235px -330px;
    height: 20px;
    width: 20px;
}

.icon-attachment {
    background: url('../img/sprite.png') no-repeat -294px -235px;
    width: 13px;
    height: 14px;
    cursor:pointer;
}

.locked {
    background-image: url("../img/sprite.png") !important;
    background-position: -479px -254px !important;
}

.divider {
    position: absolute;
    left: 4.5%;
    top: 23.5%;
    border-left: 1px solid grey;
    height: 15px;
}

.profile-pic {
    width: 100%;
    border: 1px lightgray solid;
    cursor: pointer;
}
select.remove-border{
    background-color: transparent;
}
.align-center{
    margin: 0 auto;
}
.action-buttons {
    display:flex;
    width: 105px;
    padding: 10px 0;
    .pipe{
        margin: 0px 5%;
        width: auto;
        font-size: 18px;
        color: #ccc;
    }
}

.icon-delete-contact-field {
    background-image: url("../img/sprite.png");
    background-position: -269px -335px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-top: 5px;
}

.icon-favorite {
    background-image: url("../img/favorite_off.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
}
.icon-favorite-active {
    background-image: url("../img/favorite_on.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;    
}
.icon-favorite:hover {
    background-image: url("../img/favorite_hover.png");
}

.icon-group {
    background-image: url("../img/group_off.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
}
.icon-group:hover{
    background-image: url("../img/group_hover.png");
}
.icon-group-active{
    background-image: url("../img/group_on.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
}

.icon-private {
    background-image: url("../img/private_off.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
}

.icon-private-active{
    background-image: url("../img/private_on.png");
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
}
.icon-private:hover{
    background-image: url("../img/private_hover.png");
}

.search-result {
    background-color: white;
    min-width: 60%;
    z-index: 10000000;
    position: absolute;
    max-height: 400px;
    overflow: auto;
    border: 1px solid;
}

.search-item-selected{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

#about-us.mycontact-dialog-box {
    margin-left: 0;
}

.about-content {
    text-align: center;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-content hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.about-footer {
    min-height: 100px;
    padding-top: 55px;
}

.about-footer .right-section {
    min-height: 20px;
    display: inline-block;
    float: right;
}

.about-footer .left-section {
    min-height: 20px;
    display: inline-block;
    float: left;
}

.qnap-info {
    color: #646464;
    font-size: 12px;
    text-decoration: underline;
}

.qnap-copyrights {
    color: #b1b1b1;
    font-size: 10px;
}

.group-info {
    padding: 15px 20px 0px 25px;
    button[type=button] {
        background-color: white;
        border: 1px solid;
    }
}

.dialog-heading {
    text-align: center;
}



.sync-desc {
    padding: 30px;
}

.sync-desc h4 {
    font-family: 'Roboto', 'Roboto-Medium-local', 'Roboto-local', '微軟正黑體';
    color: '#2f2f2f';
    font-size: 15px;
}
.groups-checklist{
    li.groups-checklist-item{
        padding-top: 3px;
    }
    input[type=checkbox], input[type=radio]{
        float: left;
        margin: 0 5px 0px 0;
    }
    label{
        font-weight: normal;
        font-size: 13px;
    }
}
.icon-save {
    background-position: -369px -293px;
    height: 15px !important;
    width: 15px !important;
    position: relative;
    top: 0px;
    border: none !important;
}

.cropArea {
    overflow: hidden;
    width:100%;
    height:300px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.drag-contact-pic {    
    text-align: center;
    margin: 90px auto;
    width: auto;
}

.upload-failed-desc {
    color: black;
    font-size: 14px !important;
}

.drag-contact-pic img {
    opacity: 0.5;
}

#upload_new>.dialog-content {
    border: 2px dashed #777777 !important;
    overflow: hidden;
}
    
#upload_new .select-picture-button {
    width: 40%;
   
    border: 1px solid;
    border-radius: 10px;
    float: right;
}

#upload_new .crop-picture-button {
    background: white;
    border: 1.5px solid;
}

#upload_new .crop-picture-button:disabled {
    background: white;
    border: 1.5px solid lightgray;
    color: lightgray
}

#upload_new .cancel-crop-picture-button {
    background: white;
    border: 0.5px solid;
    margin-left: 5px;
}

.contact-group-list{
    background: #fff;
    z-index: 250;
    border: 1px solid #999;
    min-width: 175px;
    position: absolute;
    
    h5 {
        padding: 0px 0px 0px 20px;
    }
    
    .create-group {
        margin-left: 15px;
        padding-left: 0;
        border-bottom: none;
        line-height: 20px;
    }
    li {
        padding-left: 22px;
    }

    .group-list-content {
        overflow-y: auto;
        max-height: 250px;
        padding-top: 5px;
    }
    button {
        background-color: white;
        border: 1px solid;
        margin: 15px;
    }
    label {
        color: black;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100px;
    }
}

.attachments-preview {  
    cursor: pointer !important;
    font-weight: bold !important;
    color: black !important;    
}

.white-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: white;
    margin-right: -15px;
    float: right;
}

.marginT8{
    margin-top:8px;
}

.floatL{
    float:left;
}
.no-searched-contacts,
.empty-group,
.no-privates,
.no-favorites,
.no-frequently-used-contacts,
.empty-trash{
    p{
        margin-top: 15px;
    }
}
.no-contacts, .no-searched-contacts, .no-frequently-used-contacts, .no-favorites, .no-privates, .empty-group, .empty-trash {
    display: none;
}

.grid-message-heading {
    font-family: 'Roboto', 'Roboto-Medium-local', 'Roboto-local', '微軟正黑體';
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
    font-size: x-large;
}

.grid-message-desc {
    font-family: 'Roboto', 'Roboto-Medium-local', 'Roboto-local', '微軟正黑體';
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

form#contactForm {
    height: 100%;
}

.favorite-options {
    position: absolute;
    top: 40px;
    left: 60px;
    background-color: white;
    border: 1px solid;
    z-index: 999;
    padding-top: 5px;
}

.trash-options {
    position: absolute;
    top: 40px;
    background-color: white;
    border: 1px solid;
    z-index: 999;
    padding-top: 5px;
}

.top-buffer {
    padding-top:8px;
    > .col-xs-4, .col-sm-4, .col-md-3, .col-lg-2{
        > span{
            line-height: 30px;
        }
    }
}

.container-margin{
    margin-top:35px;
}

.button-upload
            {
            background: url('../../resources/img/btn_upload.png') no-repeat;
            
                        background-position-x: 5px;
            }

textarea {
    resize: none;
}

.button-min-width {
    border: 1px solid !important;
    min-width: 80px !important;
}

.custom-field {
    border: 0px solid #aeaeae !important;
    padding-left: 0px !important;
}

.custom-field:focus{
     border: 1px solid #aeaeae !important;
      padding-left: 10px !important;
}

.mobile-type-drop-down-contact-grid{
    position:absolute; 
    right:0px;
    margin-right:20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 55px;
    text-align: right;
}

.contact-grid-caret{
    
    position: absolute !important;
    right: 0px !important;
    margin-top: 7px !important;
}

.contact-grid-phone-button{
    width: 240px !important;
    text-align: left !important;
    /*padding-left: 10px !important;*/
}
.contact-grid-phone-a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 166px;
}

.common-hover-background:hover{
     background-color:#defefd;
}
.common-hover-background:focus{
    background-color:#defefd;
}
.contact-grid-column-padding{
    /*padding-left: 10px !important;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
}


.icon-toolbar_private_off_active {
    background-image: url(../img/sprite_new.png) !important;
    background-position: -20px -440px !important;
    width: 15px !important;
    height: 15px !important;
    display:block !important;
    cursor: pointer;
}


.icon-toolbar_private_active {
    background: url(../img/sprite_new.png) -74px -440px !important;
    width: 15px !important;
    height: 15px !important;
    display:block !important;
}





input[type=date] {
      height: 30px;
    width: 60%;
    padding-left: 10px;
    font-size: 12px;
    color: #2f2f2f !important;
    border: 1px solid #aeaeae !important;
  
    
  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  &::-webkit-inner-spin-button {
    height: 30px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;
            
    &:hover {
      background-color: lighten(#2f2f2f,40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}

.radio-label {
    font-weight: normal;
}
.custom-width-390{
    .mycontact-dialog-box{
        margin-left: 0px;
        margin-right: 0px;
    }
}
.view-contact-container{
    min-height: 400px;
    color: #444;
    font-size: 13px;
    .fixed-section{
        padding: 0 !important;
    }
    .movable-section{
        overflow: auto;
        height: 390px;
        clear: both;
        width: 100%;
        font-size: 12px;
    }
    .section{
        border-bottom: 1px solid #eee;
        float: left;
        width: 100%;
        padding: 10px;
        .section-name{
            color: #1e90ff;
            font-size: 14px;
            font-weight: 500;
        }
        .section-data{
            padding: 4px 0px;
            .label-text{
                width: 25%;
                float: left;
            }
            .value{
                .flag{
                    margin-right: 10px;
                }
                margin-left: 25%;
            }
        }
    }
    .profile-pic{
        border: none;
        width: 75px;
        height: 75px;;
        float: left;
        margin: 0 15px 10px 0;
    }
    .action-buttons{
        float: left;
    }
    .user-name{
        float: left;
        width: 400px;
        .full-name{
            font-size: 19px;
            padding: 0 0 5px 0;
            height: 25px;
        }
        .nickname{
            height: 18px;
        }
        .btn-edit{
            float: right;
            background-image: url(../img/action_edit_normal.png);
            height: 18px;
            cursor: pointer;
            width: 18px;
            margin-top: 12px;
        }
    }
}
