/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` ../img/sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` ../img/sprite -->
<img class="icon-home" />
```
*/
.q-icon{
    background-image: url(../img/sprite.png);
    display: inline-block;
    background-color: transparent;
    border:none !important;
    cursor: pointer;
}

.icon-1_finish {
    background-position: -160px -150px;
    width: 35px;
    height: 40px;
}

.icon-1_on {
    background-position: -340px -236px;
    width: 35px;
    height: 40px;
}

.icon-2_finish {
    background-position: -375px -236px;
    width: 35px;
    height: 40px;
}

.icon-2_off {
    background-position: -260px -160px;
    width: 35px;
    height: 40px;
}

.icon-2_on {
    background-position: -445px -236px;
    width: 35px;
    height: 40px;
}

.icon-3_finish {
    background-position: -340px -196px;
    width: 35px;
    height: 40px;
}

.icon-3_off {
    background-position: -445px -196px;
    width: 35px;
    height: 40px;
}

.icon-3_on {
    background-position: -410px -196px;
    width: 35px;
    height: 40px;
}

.icon-4_finish {
    background-position: -375px -196px;
    width: 35px;
    height: 40px;
}

.icon-4_off {
    background-position: -410px -236px;
    width: 35px;
    height: 40px;
}

.icon-4_on {
    background-position: -295px -160px;
    width: 35px;
    height: 40px;
}

.icon-Menu_06 {
    background-position: -20px -334px;
    width: 20px;
    height: 20px;
}

.icon-Menu_06_active {
    background-position: -470px -310px;
    width: 20px;
    height: 20px;
}

.icon-action_delete_hover {
    background-position: -480px -214px;
    width: 18px;
    height: 18px;
}

.icon-action_delete_normal {
    background-position: -272px -334px;
    width: 18px;
    height: 18px;
}

.icon-action_edit_hover {
    background-position: -218px -334px;
    width: 18px;
    height: 18px;
}

.icon-action_edit_normal {
    background-position: -236px -334px;
    width: 18px;
    height: 18px;
}

.icon-action_error {
    background-position: -474px -171px;
    width: 15px;
    height: 15px;
}

.icon-action_favorites_active {
    background-position: -480px -196px;
    width: 18px;
    height: 18px;
}

.icon-action_favorites_hover {
    background-position: -290px -334px;
    width: 18px;
    height: 18px;
}

.icon-action_favorites_normal {
    background-position: -308px -334px;
    width: 18px;
    height: 18px;
}

.icon-action_group_hover {
    background-position: -326px -334px;
    width: 18px;
    height: 18px;
}

.icon-action_group_normal {
    background-position: -200px -334px;
    width: 18px;
    height: 18px;
}

.icon-action_ok {
    background-position: -360px -334px;
    width: 15px;
    height: 15px;
}

.icon-action_private_active {
    background-position: -480px -254px;
    width: 18px;
    height: 18px;
}

.icon-action_private_hover {
    background-position: -480px -236px;
    width: 18px;
    height: 18px;
}

.icon-action_private_normal {
    background-position: -254px -334px;
    width: 18px;
    height: 18px;
}

.icon-btn_add_hover {
    background-position: 0px -150px;
    width: 160px;
    height: 40px;
}

.icon-btn_add_normal {
    background-position: -100px -80px;
    width: 160px;
    height: 40px;
}

.icon-window_btn_close {
    background-position: -439px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_close_black {
    background-position: -428px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_close_over {
    background-position: -406px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_close_over_black {
    background-position: -395px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_close_pressed {
    background-position: -417px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_close_pressed_black {
    background-position: -450px -296px;
    width: 11px;
    height: 11px;
}

.icon-btn_import_hover {
    background-position: 0px -190px;
    width: 160px;
    height: 40px;
}

.icon-btn_import_normal {
    background-position: -340px 0px;
    width: 159px;
    height: 40px;
}

.icon-window_btn_max {
    background-position: -461px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_max_over {
    background-position: -472px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_max_pressed {
    background-position: -483px -296px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_mini {
    background-position: -160px -217px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_mini_over {
    background-position: -171px -217px;
    width: 11px;
    height: 11px;
}

.icon-window_btn_mini_pressed {
    background-position: -384px -296px;
    width: 11px;
    height: 11px;
}

.icon-btn_sync_hover {
    background-position: -100px 0px;
    width: 160px;
    height: 40px;
}

.icon-btn_sync_normal {
    background-position: -100px -40px;
    width: 160px;
    height: 40px;
}

.icon-eye {
    background-position: -264px -310px;
    width: 24px;
    height: 24px;
}

.icon-eye_active {
    background-position: -264px -230px;
    width: 24px;
    height: 24px;
}

.icon-frameset_user {
    background-position: -160px -190px;
    width: 27px;
    height: 27px;
}

.icon-framset_bg_task_active {
    background-position: -312px -230px;
    width: 24px;
    height: 24px;
}

.icon-framset_bg_task_disable {
    background-position: -240px -254px;
    width: 24px;
    height: 24px;
}

.icon-framset_bg_task_hover {
    background-position: -264px -254px;
    width: 24px;
    height: 24px;
}

.icon-framset_bg_task_normal {
    background-position: -96px -310px;
    width: 24px;
    height: 24px;
}

.icon-framset_help {
    background-position: 0px -334px;
    width: 20px;
    height: 20px;
}

.icon-framset_more_active {
    background-position: -120px -310px;
    width: 24px;
    height: 24px;
}

.icon-framset_more_hover {
    background-position: -192px -310px;
    width: 24px;
    height: 24px;
}

.icon-framset_more_normal {
    background-position: -336px -310px;
    width: 24px;
    height: 24px;
}

.icon-framset_search {
    background-position: -216px -310px;
    width: 24px;
    height: 24px;
}

.icon-framset_search_active {
    background-position: -187px -190px;
    width: 24px;
    height: 24px;
}

.icon-framset_search_disable {
    background-position: -168px -310px;
    width: 24px;
    height: 24px;
}

.icon-framset_search_hover {
    background-position: -144px -310px;
    width: 24px;
    height: 24px;
}

.icon-framset_search_normal {
    background-position: -211px -190px;
    width: 24px;
    height: 24px;
}

.icon-framset_search_on {
    background-position: -235px -190px;
    width: 24px;
    height: 24px;
}

.icon-ic_delete_letters {
    background-position: -240px -230px;
    width: 24px;
    height: 24px;
}

.icon-ic_facebook {
    background-position: -340px -96px;
    width: 50px;
    height: 50px;
}

.icon-ic_google {
    background-position: -390px -96px;
    width: 50px;
    height: 50px;
}

.icon-ic_mycontacts {
    background-position: -390px -146px;
    width: 44px;
    height: 44px;
}

.icon-ic_photo {
    background-position: -80px -70px;
    width: 20px;
    height: 20px;
}

.icon-ic_popup_photo {
    background-position: -440px -96px;
    width: 50px;
    height: 50px;
}

.icon-ic_sever {
    background-position: -340px -146px;
    width: 50px;
    height: 50px;
}

.icon-lock_icon {
    background-position: -340px -276px;
    width: 32px;
    height: 32px;
}
.icon-merge_no_deta {
    background-position: 0px 0px;
    width: 100px;
    height: 70px;
}
.icon-merge_check {
    background-position: -372px -296px;
    width: 12px;
    height: 12px;
}

.icon-merge_ok {
    background-position: -434px -146px;
    width: 40px;
    height: 40px;
}

.icon-popup_add_active {
    background-position: -330px -180px;
    width: 10px;
    height: 10px;
}

.icon-popup_add_normal {
    background-position: -330px -170px;
    width: 10px;
    height: 10px;
}

.icon-popup_attachment_active {
    background-position: -240px -310px;
    width: 24px;
    height: 24px;
}

.icon-popup_attachment_normal {
    background-position: -288px -230px;
    width: 24px;
    height: 24px;
}

.icon-popup_calendar_active {
    background-position: -288px -310px;
    width: 24px;
    height: 24px;
}

.icon-popup_calendar_normal {
    background-position: -312px -310px;
    width: 24px;
    height: 24px;
}

.icon-popup_reduce_active {
    background-position: -330px -160px;
    width: 10px;
    height: 10px;
}

.icon-popup_reduce_normal {
    background-position: -489px -171px;
    width: 10px;
    height: 10px;
}

.icon-search_change {
    background-position: -428px -310px;
    width: 22px;
    height: 22px;
}

.icon-search_change_active {
    background-position: -406px -310px;
    width: 22px;
    height: 22px;
}

.icon-search_change_hover {
    background-position: -384px -310px;
    width: 22px;
    height: 22px;
}

.icon-selected_date {
    background-position: -474px -146px;
    width: 25px;
    height: 25px;
}

.icon-snap_new_create {
    background-position: -260px 0px;
    width: 80px;
    height: 80px;
}

.icon-snap_new_create_active {
    background-position: 0px -70px;
    width: 80px;
    height: 80px;
}

.icon-snap_new_create_hover {
    background-position: -260px -80px;
    width: 80px;
    height: 80px;
}

.icon-snap_new_restore {
    background-position: 0px -230px;
    width: 80px;
    height: 80px;
}

.icon-snap_new_restore_active {
    background-position: -80px -230px;
    width: 80px;
    height: 80px;
}

.icon-snap_new_restore_hover {
    background-position: -160px -230px;
    width: 80px;
    height: 80px;
}

.icon-snap_preview {
    background-position: -180px -120px;
    width: 40px;
    height: 20px;
}

.icon-snap_preview_active {
    background-position: -140px -120px;
    width: 40px;
    height: 20px;
}

.icon-snap_preview_hover {
    background-position: -100px -120px;
    width: 40px;
    height: 20px;
}

.icon-snap_restore {
    background-position: -300px -200px;
    width: 40px;
    height: 20px;
}

.icon-snap_restore_active {
    background-position: -260px -200px;
    width: 40px;
    height: 20px;
}

.icon-snap_restore_hover {
    background-position: -452px -276px;
    width: 40px;
    height: 20px;
}

.icon-toolbar_add_hover {
    background-position: -340px -40px;
    width: 116px;
    height: 28px;
}

.icon-toolbar_add_normal {
    background-position: -340px -68px;
    width: 116px;
    height: 28px;
}

.icon-toolbar_delete_disable {
    background-position: -140px -334px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_delete_normal {
    background-position: -160px -334px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_favorites_active {
    background-position: -180px -334px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_favorites_disable {
    background-position: -120px -334px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_favorites_normal {
    background-position: -100px -334px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_filter_disable {
    background-position: -80px -334px;
    width: 20px;
    height: 20px;
}

.icon-toolbar_merge_disable {
    background-image: url(../img/toolbar_merge_disable.png);
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}
.icon-toolbar_merge_normal{
    background-image: url(../img/toolbar_merge_normal.png);
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}

.icon-toolbar_export_disable {
    background-image: url(../img/toolbar_export_disable.png);
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}
.icon-toolbar_export_normal{
    background-image: url(../img/toolbar_export_normal.png);
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}

.icon-toolbar_filter_normal {
    background-position: -60px -334px;
    width: 20px;
    height: 20px;
    float: right !important;
    margin-right: 40px !important;
}

.icon-toolbar_group_active {
    background-position: -40px -334px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_group_disable {
    background-position: -450px -310px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_group_normal {
    background-position: -235px -170px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_private_active {
    background-position: -235px -150px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_private_disable {
    background-position: -80px -130px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_private_normal {
    background-position: -80px -110px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-toolbar_restore_disable {
    background-position: -80px -90px;
    width: 20px;
    height: 20px;
}

.icon-toolbar_restore_normal {
    background-position: -344px -334px;
    width: 16px;
    height: 18px;
}

.icon-toolbar_triangle_disable {
    background-position: -462px -60px;
    width: 6px;
    height: 4px;
}

.icon-toolbar_triangle_normal {
    background-position: -456px -60px;
    width: 6px;
    height: 4px;
}

.icon-toolbar_upload_normal {
    background-position: -360px -310px;
    width: 24px;
    height: 23px;
}

.icon-um_delete {
    background-position: -456px -68px;
    width: 40px;
    height: 20px;
}

.icon-um_delete_active {
    background-position: -372px -276px;
    width: 40px;
    height: 20px;
}

.icon-um_delete_hover {
    background-position: -412px -276px;
    width: 40px;
    height: 20px;
}

.icon-um_disable {
    background-position: -220px -120px;
    width: 40px;
    height: 20px;
}

.icon-um_disable_active {
    background-position: -195px -150px;
    width: 40px;
    height: 20px;
}

.icon-um_disable_hover {
    background-position: -195px -170px;
    width: 40px;
    height: 20px;
}

.icon-um_disable_on {
    background-position: -456px -40px;
    width: 40px;
    height: 20px;
}
