<div id="add-user" class="mycontact-dialog-box">
    <header>
        {{'ADD_USER' | translate}}
    </header>
    <hr class="dialog-horizontal-bar">
    <form name="userForm" ng-submit="createUser(user)" novalidate>
        <main class="dialog-content">
            <div class="mycontact-fields">

               <!-- NAME -->
             <!--  <div class="form-group" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine }">
                  <label> {{'FIRST_NAME' | translate}}:</label>
                  <span class="text-danger">*</span>
                  <input type="text" name="fname" class="form-control" ng-model="user.fname" required>
                  <p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine" class="help-block">First name is required.</p>
              </div> -->

                <div class="field-block" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine }">
                    <div  class="field-name">
                        {{'FIRST_NAME' | translate}}:
                        <span class="text-danger">*</span>
                    </div> 
                    <div class="field-value floatL" >
                        <input type="text" ng-model="user.fname" id="fname" name="fname" required ng-pattern="/^[a-zA-Z]*$/" ng-maxlength="20"/>
                        <p ng-show="userForm.fname.$error.required && !userForm.fname.$pristine" class="help-block">{{'FIRST_NAME_REQUIRED' | translate}}</p>
                        <p ng-show="userForm.fname.$error.pattern" class="help-block">{{'FIRST_NAME_PATTERN' | translate}}</p>
                        <p ng-show="userForm.fname.$error.maxlength" class="help-block">{{'FIRST_NAME_MAXLENGTH' | translate}}</p>
                    </div>
                    <div class="clear"></div> 
                </div>
                <div class="field-block" ng-class="{ 'has-error' : userForm.lname.$invalid && !userForm.lname.$pristine }">
                    <div  class="field-name">
                        {{'LAST_NAME' | translate}}: 
                        <span class="text-danger">*</span>
                    </div> 
                    <div class="field-value floatL">
                        <input type="text" ng-model="user.lname" id="lname" name="lname" required ng-pattern="/^[a-zA-Z]*$/" ng-maxlength="20" />
                        <p ng-show="userForm.lname.$error.required && !userForm.lname.$pristine" class="help-block">{{'LAST_NAME_REQUIRED' | translate}}</p>
                        <p ng-show="userForm.lname.$error.pattern" class="help-block">{{'LAST_NAME_PATTERN' | translate}}</p>
                        <p ng-show="userForm.lname.$error.maxlength" class="help-block">{{'LAST_NAME_MAXLENGTH' | translate}}</p>
                    </div>
                    <div class="clear"></div> 
                </div>
                <div class="field-block"  ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <div  class="field-name">
                        {{'EMAIL' | translate}}:
                    </div> 
                    <div class="field-value floatL">
                        <input type="email" name="email" ng-model="user.email" />
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">{{'EMAIL_VALID' | translate}}</p>
                    </div>
                    <div class="clear"></div> 
                </div>
                <div class="field-block" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                    <div  class="field-name">
                        {{'USERNAME' | translate}}:
                        <span class="text-danger">*</span>
                    </div> 
                    <div class="field-value floatL">
                        <input type="text" name="username" id="username" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9_.]*$/" required ng-minlength="3" ng-maxlength="20" />
                        <p ng-show="userForm.username.$error.required && !userForm.username.$pristine" class="help-block">{{'USERNAME_REQUIRED' | translate}}</p>
                        <p ng-show="userForm.username.$error.minlength" class="help-block">{{'USERNAME_MINLENGTH' | translate}}</p>
                        <p ng-show="userForm.username.$error.maxlength" class="help-block">{{'USERNAME_MAXLENGTH' | translate}}</p>
                        <p ng-show="userForm.username.$error.pattern" class="help-block">{{'USERNAME_PATTERN' | translate}}</p>
                    </div>
                    <div class="clear"></div> 
                </div>
                <div class="field-block" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                    <div  class="field-name">
                        {{'ENTER_PASSWORD' | translate}}:
                        <span class="text-danger">*</span>
                    </div> 
                    <div class="field-value floatL">
                        <input type="password" name="password" id="password" ng-model="user.password" ng-pattern="/^[a-zA-Z0-9]*$/" required ng-minlength="3" ng-maxlength="24" />
                        <p ng-show="userForm.password.$error.required && !userForm.password.$pristine" class="help-block"> {{'PASSWORD_REQUIRED' | translate}}</p>
                        <p ng-show="userForm.password.$error.minlength" class="help-block">{{'PASSWORD_MINLENGTH' | translate}}</p>
                        <p ng-show="userForm.password.$error.maxlength" class="help-block">{{'PASSWORD_MAXLENGTH' | translate}}</p>
                        <p ng-show="userForm.password.$error.pattern" class="help-block">{{'PASSWORD_PATTERN' | translate}}</p>
                    </div>
                    <div class="clear"></div> 
                </div>
                <div class="field-block" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine }" >
                    <div  class="field-name">
                        {{'CONFIRM_PASSWORD' | translate}}:
                         <span class="text-danger">*</span>
                    </div> 

                    <div class="field-value floatL">
                        <input id="confirmPassword" name="confirmPassword" type="password" ng-model="user.confirmPassword" confirm-password="user.password" />
                         <p ng-show="userForm.confirmPassword.$error.noMatch" class="help-block"> {{'PASSWORD_CONFIRM' | translate}}</p>
                    </div>
                    <div class="clear"></div> 
                </div>
            </div>
        </main>
        <footer>
            <div class="form-buttons">
                <button type="submit" ng-disabled="userForm.$invalid" >{{'BUTTON_SAVE' | translate}}</button>
                <button type="button" ng-click="closeThisDialog()" class="cancel">{{'CANCEL' | translate}}</button>
            </div>        
        </footer>
    </form>
</div>