<div id="high-security-password" class="mycontact-dialog-box">
    <header>
        {{'ENTER_HIGH_SECURITY_PASSWORD' | translate}}
    </header>
    <hr class="dialog-horizontal-bar">
    <form name="verifyPasswordForm" ng-submit="verifyPassword(verifyPasswordForm, security)" novalidate>
        <main class="dialog-content">
            <p>
                {{'HIGH_SECURITY_PASSWORD_DESC' | translate}}
            </p>
            <div class="mycontact-fields">
                <div class="field-block">
                    <div  class="field-name">
                        {{'ENTER_PASSWORD' | translate}}:
                    </div> 

                    <div class="field-value floatL">
                        <input id="password" name="password" type="password" ng-model="security.high_security_password" />
                    </div>
                    <div class="clear"></div> 
                </div>
            </div>
        </main>
        <footer>
            <div class="form-buttons">
                <button type="submit" ng-disabled="verifyPasswordForm.$pristine">{{'CONTINUE_USING_APP' | translate}}</button>
                <button type="button" ng-click="closeThisDialog()">{{'CANCEL' | translate}}</button>
            </div>        
        </footer>
    </form>
</div>