<div id="reset-high-security-password" ng-init="loadSecurityQuestions()" class="mycontact-dialog-box">
    <header ng-if="forgotPassword == false">
        {{'CHANGE_HIGH_SECURITY_PASSWORD' | translate}}
    </header>
    <header ng-if="forgotPassword == true">
        {{'FORGOT_PASSWORD' | translate}}
    </header>
    <hr class="dialog-horizontal-bar">
    <form name="resetHighSecurityPasswordForm" ng-submit="resetHighSecurityPassword(resetHighSecurityPasswordForm, security)" novalidate>
        <main class="dialog-content">
            <p ng-if="forgotPassword == false">
                {{'RESET_HIGH_SECURITY_PASSWORD_DESC' | translate}}
            </p>
            <p ng-if="forgotPassword == true">
                {{'FORGOT_PASSWORD_DESC' | translate}}
            </p>
            <div class="mycontact-fields" ng-class="{ 'has-error' : resetHighSecurityPasswordForm.old_high_security_password.$invalid && !resetHighSecurityPasswordForm.old_high_security_password.$pristine }">
                <div class="field-block" ng-if="forgotPassword == false">
                    <div class="field-name">
                        {{'ENTER_OLD_PASSWORD' | translate}}:
                    </div>

                    <div class="field-value floatL">
                        <input name="old_high_security_password" id="old_high_security_password" type="password" ng-if="forgotPassword == false" ng-model="security.old_high_security_password" required/>
                        <p ng-show="resetHighSecurityPasswordForm.old_high_security_password.$error.required && !resetHighSecurityPasswordForm.old_high_security_password.$pristine" class="help-block"> {{'PASSWORD_REQUIRED' | translate}}</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="field-block" ng-if="forgotPassword == true">
                    <div class="field-name">
                        {{'SECURITY_QUESTION' | translate}}:
                    </div>

                    <div class="field-value floatL">
                        <label ng-init="security.security_question=ngDialogData.data">{{ngDialogData.data}}</label>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="field-block" ng-if="forgotPassword == true"  ng-class="{ 'has-error' : resetHighSecurityPasswordForm.security_answer.$invalid && !resetHighSecurityPasswordForm.security_answer.$pristine }">
                    <div class="field-name">
                        {{'SECURITY_ANSWER' | translate}}:
                    </div>

                    <div class="field-value floatL">
                        <input id="security_answer" type="password" ng-if="forgotPassword == true" name="security_answer"
                               ng-model="security.security_answer"
                               ng-pattern="/^[a-zA-Z0-9]*$/"
                            required ng-minlength="3" ng-maxlength="24" />
                        <p ng-show="resetHighSecurityPasswordForm.security_answer.$error.required && !resetHighSecurityPasswordForm.security_answer.$pristine" class="help-block"> {{'SECURITY_ANSWER_REQUIRED' | translate}}</p>
                        <p ng-show="resetHighSecurityPasswordForm.security_answer.$error.minlength" class="help-block">{{'SECURITY_ANSWER_MINLENGTH' | translate}}</p>
                        <p ng-show="resetHighSecurityPasswordForm.security_answer.$error.maxlength" class="help-block">{{'SECURITY_ANSWER_MAXLENGTH' | translate}}</p>
                        <p ng-show="resetHighSecurityPasswordForm.security_answer.$error.pattern" class="help-block">{{'SECURITY_ANSWER_PATTERN' | translate}}</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="field-block" ng-class="{ 'has-error' : resetHighSecurityPasswordForm.new_high_security_password.$invalid && !resetHighSecurityPasswordForm.new_high_security_password.$pristine }">
                    <div class="field-name">
                        {{'ENTER_NEW_PASSWORD' | translate}}
                    </div>

                    <div class="field-value floatL">
                        <input type="password" 
                            name="new_high_security_password" 
                            id="new_high_security_password" 
                            ng-model="security.new_high_security_password" 
                            ng-pattern="/^[a-zA-Z0-9]*$/" required ng-minlength="3" ng-maxlength="24" />
                        <p ng-show="resetHighSecurityPasswordForm.new_high_security_password.$error.required && !resetHighSecurityPasswordForm.new_high_security_password.$pristine" class="help-block"> {{'PASSWORD_REQUIRED' | translate}}</p>
                        <p ng-show="resetHighSecurityPasswordForm.new_high_security_password.$error.minlength" class="help-block">{{'PASSWORD_MINLENGTH' | translate}}</p>
                        <p ng-show="resetHighSecurityPasswordForm.new_high_security_password.$error.maxlength" class="help-block">{{'PASSWORD_MAXLENGTH' | translate}}</p>
                        <p ng-show="resetHighSecurityPasswordForm.new_high_security_password.$error.pattern" class="help-block">{{'PASSWORD_PATTERN' | translate}}</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="field-block" ng-class="{ 'has-error' : resetHighSecurityPasswordForm.confirm_high_security_password.$invalid && !resetHighSecurityPasswordForm.confirm_high_security_password.$pristine }">
                    <div class="field-name">
                        {{'CONFIRM_NEW_PASSWORD' | translate}}
                    </div>

                    <div class="field-value floatL">
                        <input type="password" id="confirm_high_security_password" name="confirm_high_security_password" confirm-password="security.new_high_security_password" ng-model="security.confirm_high_security_password"/>
                         <p ng-show="resetHighSecurityPasswordForm.confirm_high_security_password.$error.noMatch" class="help-block"> {{'PASSWORD_CONFIRM' | translate}}</p>  
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="field-block">
                    <div class="field-name"></div>

                    <div class="field-value floatL">
                        <a href="javascript:void(0)" ng-if="forgotPassword == false" ng-click="doForgotPassword(true)">{{'FOR_FORGOTTEN_PASSWORD' | translate}}</a>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </main>
        <footer>
            <div class="form-buttons">
                <button type="submit" ng-disabled="resetHighSecurityPasswordForm.$invalid || resetHighSecurityPasswordForm.$pristine">{{'BUTTON_SAVE' | translate}}</button>
                <button type="button" ng-click="closeThisDialog()" class="cancel">{{'CANCEL' | translate}}</button>
            </div>
        </footer>
    </form>
</div>