<div id="user-management-container" ng-init="loadUsers()" class="mycontact-dialog-box">
    <header>
        {{'USER_MANAGEMENT' | translate}}
    </header>
    <hr class="dialog-horizontal-bar">
    
    <div class="user-mgmt-options">
        <!--<button type="button" ng-click="openAddUser()">{{'ADD_NEW_ACCOUNT' | translate}}</button>-->
        <button type="button" ng-disabled="!selectedRows.length"  ng-click="batchDelete()">{{'DELETE_ACCOUNT' | translate}}</button>
    </div>
    <div class="grid-container">
        <ng-jq-grid grid-height="400" id-elm="user-grid" config="config" userdata="userData"></ng-jq-grid>
    </div>
</div>