<form name="setProfilePic" novalidate>
<div id="contact-picture-selector" class="mycontact-dialog-box">
    <header>
        {{'SELECT_PICTURE' | translate}}
    </header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:void(0);#all_pics" data-toggle="tab">{{'ALL_PICS' | translate}}</a></li>
            <li><a href="javascript:void(0);#upload_new" data-toggle="tab">{{'UPLOAD_NEW' | translate}}</a></li>
        </ul>
    </nav>
    <hr class="dialog-horizontal-bar">
    <div class="tab-content select-picture-content">
        <div class="tab-pane active" id="all_pics">
            <span>{{'SELECT_HISTORY_PICTURE' | translate}}</span>
            <main class="dialog-content">
                <div class="row">
                    <div ng-if="contact.profile_pic_history.length == 0">{{'NO_CONTACT_PICTURE_HISTORY' | translate}}</div>
                    <div ng-repeat="profile_pic in contact.profile_pic_history">
                        <div class="clearfix" ng-if="$index % 5 == 0"></div>
                        <div class="col-sm-2 history-pic">
                            <span ng-class="{'contact-pic-selected': profile_pic==selected_picture}"></span>
                            <img class="img-thumbnail" ng-click="changeSelectedPic(profile_pic)" src="{{profile_pic}}"/>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="form-buttons">
                    <button class="crop-picture-button" ng-disabled="!selected_picture" ng-click="contact.profile_pic=selected_picture;closeThisDialog();" >{{'SELECT'| translate}}</button>
                    <button class="cancel-crop-picture-button" ng-click="closeThisDialog()">{{'CANCEL'| translate}}</button>
                </div>
            </footer>
        </div>
        <div class="tab-pane" id="upload_new">
            <span>{{'UPLOAD_PICTURE' | translate}}</span>
            <!--<input type="button" value="select from NAS" class="select-picture-button button-upload" ng-click="openNASFileChooser(3, false, false)" /> {{picFile}}-->
            <input type="button" name="ppic1" value="{{'SELECT_PICTURE_FROM_COMPUTER'| translate}}" class="select-picture-button button-upload" ngf-select ng-model="picFile" ngf-pattern="'.jpg,.PNG,.gif'"/>
      
            
            <main class="dialog-content" ng-class="{ 'has-error' : setProfilePic.ppic.$invalid && !setProfilePic.ppic.$pristine || setProfilePic.ppic1.$invalid && !setProfilePic.ppic1.$pristine}">
                <div ngf-drop name="ppic" ng-model="picFile" accept="'.jpg,.PNG,.gif'" ngf-pattern="'.jpg,.PNG,.gif'" class="drop-box cropArea">
                    <div class="drag-contact-pic" ng-if="!picFile" >
                        <img ng-hide="setProfilePic.ppic.$error.pattern || setProfilePic.ppic1.$error.pattern " src="resources/img/no-contact.png">
                        <div ng-hide="setProfilePic.ppic.$error.pattern || setProfilePic.ppic1.$error.pattern " class="margin-top-10">{{'DRAG_PICTURE' | translate}}</div>
                        <span class="help-block" ng-show="setProfilePic.ppic.$error.pattern || setProfilePic.ppic1.$error.pattern ">
                            {{'FAILED_TO_UPLOAD' | translate}} 
                            <p class="upload-failed-desc">{{ppic.$errorParam}} {{'ONLY_FOLLOWING_TYPES_ALLOWED' | translate}}</p>
                        </span>
                      
                    </div>
                    <img-crop image="picFile  | ngfDataUrl" area-type="square" result-image="croppedDataUrl" ng-init="croppedDataUrl = ''"></img-crop>
                </div>
            </main>
            <footer>
                <div class="form-buttons">
                    <button class="crop-picture-button" ng-click="uploadProfilePic(croppedDataUrl, picFile.name)" ng-disabled="!picFile">{{'SELECT'| translate}}</button>
                    <button class="cancel-crop-picture-button" ng-click="closeThisDialog()">{{'CANCEL'| translate}}</button>
                </div>
            </footer>
        </div>
    </div>
</div>

</form>