<div class="select-file-for-import select-file-for-import-preview">
    <select ng-model="selectedCsvMapping" ng-change="selectedCsvMappingChanged(selectedCsvMapping)" ng-options="mapping.template_name for mapping in chooseMappingCSVFromDB">
    </select>
    <label class="info-circle-base" ng-init="showinfo = false" ng-mouseover="showinfo = true" ng-mouseleave="showinfo = false">!</label>
    <p ng-show="showinfo" class="popoverthis">
        <textarea class="show-save-template-info" disabled >{{'IMPORT_CHOOSE_MAPPING_HELP' | translate}}</textarea>
    </p>
    <label class="delimiterLab">{{'IMPORT_DELIMITER' | translate }} :</label>
    <input class="delimiterText" type="text" ng-model="mapping.selectedDelimiter" />
    <label class="info-circle-base" ng-init="showdeliinfo = false" ng-mouseover="showdeliinfo = true" ng-mouseleave="showdeliinfo = false">!</label>
    <p ng-show="showdeliinfo" class="popoverthisdelimiter">
        <textarea class="show-save-template-info" type="text" disabled>{{'IMPORT_DELIMITER_HELP' | translate}}</textarea>
    </p>
    <label  class="importfirstrow"><input type="checkbox" ng-model="firstRow.importFirstRow"> {{'IMPORT_FIRST_ROW' | translate}}</label>
    <input class="btnSaveTemplate btn btn-default button-min-width" type="button" value="{{'IMPORT_SAVE_TEMPLATE' | translate}}" ng-click="openSaveTemplateDailogue()"/>
    <label class="info-circle-base position-info-save-template" ng-init="showtemplateinfo = false" ng-mouseover="showtemplateinfo = true" ng-mouseleave="showtemplateinfo = false">!</label>
    <p ng-show="showtemplateinfo" class="popoversavetemplate">
        <textarea class="show-save-template-info" disabled>{{'IMPORT_SAVE_TEMPLATE_HELP' | translate}}</textarea>
    </p>
    <label class="info-circle-base position-column-mapping" ng-init="showmappinginfo = false" ng-mouseover="showmappinginfo = true" ng-mouseleave="showmappinginfo = false">!</label>
    <p ng-show="showmappinginfo" class="popover-column-mapping-info">
        <textarea class="show-save-template-info" disabled>{{'IMPORT_COLUMN_MAPPING_HELP' | translate}}</textarea>
    </p>
    <p>
        <ng-jq-grid-import-contact mycontactdbcolumns="filedMappingData.dbColumnNames" columnmodelruntime="filedMappingData.columnNames" id="importcontactgrid" data="dataToBindGrid.data" config="configForDynamicGrid"></ng-jq-grid-import-contact>
    </p>
    <div class="custom-pagination">
        <span ><img class="first-record" src="resources/img/first.png" ng-click="firstPage()"/></span>
        <span><img  ng-disabled="page == 0" class="previous-record" ng-click="prevPage()" src="resources/img/previous.png" /></span>
        <span><label class="pagination-details-text"  >&nbsp;&nbsp;| &nbsp;Page: {{paginationDetails}} &nbsp;|&nbsp;&nbsp;</label></span>
        <span ><img ng-disabled="page +1 == pages" ng-click="nextPage()" class="next-record" src="resources/img/next.png" /></span>
        <span class="pagination-details"><img class="last-record" src="resources/img/last.png" ng-click="lastPage()"/> &nbsp;&nbsp;|&nbsp;&nbsp;{{'FIND_DUPLICATE_DISPLAY_ITEM' | translate}}: {{paginationDisplayItemMerge}}, {{'FIND_DUPLICATE_TOTAL' | translate}}: {{total}}</span>
        <span class="show-records">
            {{'FIND_DUPLICATE_SHOW' | translate}}
            <select class="remove-border" ng-model="pagelimit.numberOfRecords">
                <option value="25">25</option>
                <option value="50" selected="selected">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            {{'FIND_DUPLICATE_ITEMS' | translate}}
        </span>
    </div>
    <input class="btnClose btn btn-default button-min-width" type="button" value="{{'IMPORT_BACK'| translate}}" ng-click="setActiveTab.tab1 = true"/>
    <input class="btnNext  btn btn-default button-min-width" type="button" value="{{'IMPORT_NEXT'| translate}}" ng-click="gotoGroupNamePage()"/>
</div>
