<div class="manage-account-dialog" ng-controller="SyncCtrl">
    <header>
        {{'IMPORT_MANAGE_ACCOUNTS_HEADING' | translate}}
    </header>
    <hr class="dialog-horizontal-bar">
    <div>
        <div class="col-lg-8 description">
            {{'IMPORT_MANAGE_HISTORY_ACCOUNTS_DESC' | translate}}
        </div>
        
    </div>
    <div >
        <table>
            <tr class="google-label">
                <td class="google-image"><img src="resources/img/ic_google.png" height="40" width="40"  /></td>
                <td>
                    <div >
                        <p><div>{{'GOOGLE' | translate}}</div></p>
                        <p>{{'GOOGLE_DESC' | translate}}</p>
                    </div>
                    <p>
                        <div class="google-import" ng-click="googleLogin();closeThisDialog();">
                            <img src="resources/img/google.png" height="40" width="40"><span>{{'GOOGLE' | translate}}</span>
                        </div>
                    </p>
                </td>
            </tr>
        </table>
        <input class="btn-close-manual-import  btn btn-default button-min-width" type="button" value="{{'IMPORT_CLOSE'| translate}}" ng-click="closeThisDialog();" />
    </div>
</div>