<div class="select-file-for-import">
    <h4 >{{'IMPORT_FINISH_DESC_LINE1'|translate}}</h4>
    <h4 class="header-padding-finish-tab">{{'IMPORT_FINISH_DESC_LINE2'|translate}}</h4>
    <h3 class="general-margin"><label><input type="radio" checked="checked" ng-model="AutoImportContact" ng-click="finishtab.isAutoImportContact = true" />{{'IMPORT_FINISH_AUTO_SAVE_CONTACT' | translate}}</label></h3>
    <h3><label><input type="radio" value="false" ng-model="AutoImportContact" ng-click="finishtab.isAutoImportContact = false" />{{'IMPORT_FINISH_CONTACT_NOTIFICATION' | translate}}</label></h3>
    <input class="btnClose btn btn-default button-min-width" type="button" value="{{'IMPORT_BACK'| translate}}" ng-click="setActiveTab.tab3 = true" />
    <input class="btnNext  btn btn-default button-min-width" type="button" value="{{'IMPORT_START_IMPORT'| translate}}" ng-click="startImport()" />
</div>