<div class="select-file-for-import">
    <div ng-show="fileuploadingProgressing" class="circle-base center">
        <label  class="center">{{percentageupload}}%</label>
    </div>
    <div class="center-msg" ng-show="fileuploadingProgressing">
        {{'IMPORT_CSV_UPLOADING1' | translate}}
        <br />
        {{'IMPORT_CSV_UPLOADING2' | translate}}
    </div>
    <div class="center-loading-preview" ng-hide="fileuploadingProgressing">
        <span><img src="resources/img/qnaploading.gif" class="img-style"/></span><span class="loading-text">Loading..</span>
    </div>
    <input class="btnClose btn btn-default button-min-width" type="button" value="{{'IMPORT_BACK'| translate}}" ng-click="setActiveTab.tab1 = true" />
    <input class="btnNext  btn btn-default button-min-width" ng-disabled="true" type="button" value="{{'IMPORT_NEXT'| translate}}" />
</div>