<div id="intro-tutorial" class="mycontact-dialog-box intro-tutorial" ng-init="current_step=1">
    <header ng-if="current_step==1">
        {{'WELCOME_TO_MYCONTACTS' | translate}}
    </header>
    <header ng-if="current_step==2">
        {{'STEP2_HEADING' | translate}}
    </header>
    <header ng-if="current_step==3">
        {{'MANAGE_CONTACTS' | translate}}
    </header>
    <header ng-if="current_step==4">
        {{'SECURE_CONTACTS' | translate}}
    </header>
    <hr class="dialog-horizontal-bar">
    <main class="dialog-content">
        <div ng-if="current_step==1" class="intro-tutorial-desc">
            <p>{{'STEP1_DESC' | translate}}</p>
        </div>
        <div ng-if="current_step==2" class="intro-tutorial-desc">
            <p>{{'STEP2_DESC' | translate}}</p>
        </div>
        <div ng-if="current_step==3" class="intro-tutorial-desc">
            <p>{{'STEP3_DESC_1' | translate}}</p>
        </div>
        <div ng-if="current_step==4" class="intro-tutorial-desc">
            <p>{{'STEP4_DESC' | translate}}</p>
        </div>

        <img ng-if="current_step==1" src="resources/img/content_01.png"/>
        <img ng-if="current_step==2" src="resources/img/content_02.png"/>
        <img ng-if="current_step==3" src="resources/img/content_03.png"/>
        <img ng-if="current_step==4" src="resources/img/content_04.png"/>

        <footer>
            <div class="tutorial-buttons">
                <button type="button" ng-click="closeThisDialog()" class="tutorial-skip">{{'SKIP'| translate}}</button>
                <button ng-hide="current_step>3" type="button" ng-click="current_step=current_step+1" class="tutorial-next-step">{{'NEXT'| translate}}</button>
                <button ng-show="current_step>3" type="button" ng-click="redirectPath('all','/contacts');closeThisDialog();" class="tutorial-next-step">{{'START_USING_APP'| translate}}</button>
                <button ng-show="current_step>1" type="button" ng-click="current_step=current_step-1" class="tutorial-next-step">{{'BACK'| translate}}</button>
                <span class="tutorial-steps-count">{{'STEPS' | translate}} {{current_step}}/4</span>
            </div>
        </footer>
    </main>
    <div class="tutorial-progress">
        <div ng-if="current_step==1" class="tutorial-progress-1"></div>
        <div ng-if="current_step==2" class="tutorial-progress-2"></div>
        <div ng-if="current_step==3" class="tutorial-progress-3"></div>
        <div ng-if="current_step==4" class="tutorial-progress-4"></div>
    </div>
</div>