<div id="nas-file-chooser" class="mycontact-dialog-box nas-file-chooser" ng-init="getNASFile('share_root')">
    <header>
        {{'FILE_CHOOSER_HEADING' | translate}}
    </header>
    <hr class="dialog-horizontal-bar">
    <main class="dialog-content">
        <div class="side-menu">
            <treecontrol class="tree-classic"
                         tree-model="nasDir"
                         options="treeOptions"
                         on-selection="loadSelected(node)"
                         on-node-toggle="loadExpanded(node, expanded)"
                         expanded-nodes="expandedNodes"
                         selected-node="selectedTreeNode">
                <span>{{node.text}}</span>
            </treecontrol>
        </div>
        <div class="browser-controls">
            <img src="resources/img/right_active.png" ng-click="navigate('back')"/>
            <img src="resources/img/left_active.png" ng-click="navigate('forward')"/>
        </div>
        <div class="browser-container">
            <table id="nasFileList" class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Modified</th>
                        <th>Size</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dirItem in nasFileDetails" id="filename_{{$index}}" ng-dblclick="selectNASFolder(dirItem)" ng-click="selectNASFile($index, dirItem, $event)">
                        <td><img width="20" src="{{dirItem.isfolder == 1 ? 'resources/img/folder.png' : 'resources/img/file.png'}}">   {{dirItem.filename}}</td>
                        <td>{{dirItem.mt | date:'MMM d, y'}}</td>
                        <td>{{dirItem.filesize | filesize}}</td>
                        <td>{{dirItem.isfolder == 1 ? 'Folder' : 'File'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <loading></loading>
    </main>
    <footer>
        <div class="form-buttons">
            <span>items: {{nasFileDetails.length}}, size: {{totalContentSize | filesize}}</span>
            <button type="submit" ng-click="sendSelectedNASFile();closeThisDialog();" ng-disabled="selectedFiles.length<1" >{{'OK' | translate}}</button>
        </div>
    </footer>
</div>