/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2016, 5:02:12 PM
    Author     : Mohan
*/
input[type=button].cgridbtn {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  height: 20px !important;
  width: 20px !important;
}
input[type=button].icon-toolbar-favorites {
  background-image: url("../img/sprite.png") !important;
  background-position: -120px -334px !important;
  margin-left: 215px !important;
  margin-top: -20px !important;
}
